* {
	padding: 0;
	margin: 0;
	font-family: 'Archivo', sans-serif;
}

body{
	overflow-x: hidden;
}

p, span{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}


.main {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

header {
	margin-top: 20px;
	width: 950px;
}

header>nav {
	background-color: #222931;
	font-size: 12px;
	font-weight: 600;
	line-height: 24px;
}

header>nav>ul li {
	display: inline-block;
	list-style: none;
	position: relative;
	padding: 20px 10px;
}

li.dropdown-menu {
	text-transform: uppercase;
    color: white;
}

header>nav>ul li a{
	padding: 20px;
}

header>nav>ul a:hover{
	background-color: yellow;
}

header>nav>ul li:hover{
	background-color: yellow;
}

header img{
	margin-left: 20px;
	margin-bottom: 10px;
}

header>nav>ul>li>a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}


.dropdown-menu i{
	margin-top: 5px;
	float: right;
	font-size: 13px;
	color: white;
}
ul li:hover ul {
	display: block;
}

ul li ul {
	position: absolute;
	left: 0;
	top: 100%;
	width: 150px;
	display: none;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

ul li ul li {
	background-color: #222931;
	display: block;
	color: grey;
}

ul li ul li a {
	display: block;
}



.hero-img{
	width: 100vw;
	position: relative;
	top: -30px;
	left: calc(-50vw + 50%);
	z-index: -1;
}

.row{
	display: flex;
	justify-content: space-around;
}

.cards > .row img{
	position: relative;
	height: 210px;

}

.cards > .row img:nth-of-type(2){
	margin: 0 30px
}



.ribbon{
	width: 100vw;
	position: relative;
	background-color: #ffe718;
	left: calc(-50vw + 50%);
	top: 35px;
}

.ribbon-container{
	margin: 0 auto;
	width: 1000px;
	height: 100px;
	color: #222931 ;

}

.ribbon-container h2,button,p{
	display: inline-block;
}

.ribbon-container > h2,p{
	margin-top: 35px;
}



.ribbon-container > button{
	margin-top: 35px;
	background-color: white;
	padding: 8px 30px;
	border: none;
	
	text-transform: uppercase;
	float: right;
}

.ribbon-container > p{
	margin-left: 10px;
}


.footer-img{
	z-index: -1;
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
	top: 75px;
}
.row2{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	position: relative;
	top: -50px;
	color: #222931 ;
}


i{
	float: left;
	font-size: 50px;
	margin-right: 20px;
	color: #222931 ;
}

.oof{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:yellow;
	width: 300px;
	height: 90px;
}




.footer{
	position: relative;
}


.footer .left-side{
	width: 500px;
	float: left;
}

.footer .right-side{
	float: right;
	width: 400px;
	display: flex;
	flex-direction: column;
	
	
	
}

.left-side p{
	margin-right: 30px;
}

.contact{
	display: inline-block;
}

.contact p{
	margin-top: 40px;
}
.contact i{
	margin-top: 40px;
	font-size: 30px;
}

.hrlol{
	margin: 75px 0px;
}

footer{
	width: 100vw;
	position: absolute;
	bottom: -555px;
	background-color: #222931 ;
	left: calc(-50vw + 50%);
	text-align: right;
}

.sad{
	margin: 0 auto;
	width: 1000px;
	margin-bottom: 13px;
	color: white;
}

