* {
	padding: 0;
	margin: 0;
	font-family: 'Archivo', sans-serif;
}

body{
	overflow-x: hidden;
}
.main {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

header {
	margin-top: 20px;
	width: 950px;
}

header>nav {
	background-color: #222931;
}

header>nav>ul li {
	display: inline-block;
	list-style: none;
	position: relative;
	padding: 20px 10px;
}

li.dropdown-menu {
	text-transform: uppercase;
    color: white;
}

header>nav>ul li a{
	padding: 20px;
}

header>nav>ul a:hover{
	background-color: yellow;
}

header>nav>ul li:hover{
	background-color: yellow;
}

header img{
	margin-left: 20px;
	margin-bottom: 10px;
}

header>nav>ul>li>a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.dropdown-menu i{
	float: right;
	font-size: 15px;
}
ul li:hover ul {
	display: block;
}

ul li ul {
	position: absolute;
	left: 0;
	top: 100%;
	width: 150px;
	display: none;
}

ul li ul li {
	background-color: #222931;
	display: block;
	color: grey;
}

ul li ul li a {
	display: block;
}



.hero-img{
	width: 100vw;
	position: relative;
	top: -30px;
	left: calc(-50vw + 50%);
	z-index: -1;
}

.row{
	display: flex;
	justify-content: space-around;
}

.cards > .row img{
	position: relative;
	height: 210px;

}

.cards > .row img:nth-of-type(2){
	margin: 0 30px
}



.ribbon{
	width: 100vw;
	position: relative;
	background-color: #ffe718;
	left: calc(-50vw + 50%);
	top: 35px;
}

.ribbon-container{
	margin: 0 auto;
	width: 1000px;
	height: 100px;


}

.ribbon-container h2,button,p{
	display: inline-block;
}

.ribbon-container > h2,p{
	margin-top: 35px;
}



.ribbon-container > button{
	margin-top: 35px;
	background-color: #222931;
	padding: 8px 30px;
	border: none;
	color: white;
	text-transform: uppercase;
	float: right;
}

.ribbon-container > p{
	margin-left: 10px;
}


.footer-img{
	z-index: -1;
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
	top: 75px;
}
.row2{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	position: relative;
	top: -50px;
}


i{
	float: left;
	font-size: 50px;
	margin-right: 20px;
}

.oof{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:yellow;
	width: 300px;
	height: 90px;
}